<!-- Mostrar -->
{% extends "pages/base.html" %}

{% block title %} Lista de Usuarios {% endblock %}

{% block contenido %}

<!-- <form action = "">
   <div class="mb-3">
     <label for="searchMovie" class="form-label">
         Search for user: 
      </label>
     <input type="text" class="form-control" name="searchMovie">
   </div> -->

<div class="card">
   <div class="card-header">
      Información de reces
   </div>
   <div class="card-body">
      <h4 class="card-title"></h4>
 <!--TABLAS-->
      <div class="TABLAS">
         <table class="INFORMACIÓN DE RECES">
            <thead>
               <tr>
                 
                  <th>Res ID</th>
                  <th>Trazabilidad</th>
                  <th>Peso</th> 
                  <th>Estado</th>
                  <th>Productos relacionados</th>
               </tr>
            </thead>
            
            <tbody>
               <tr>
                  <!--<td>1000756972</td>
                  <td>Ulises</td>
                  <td>correoulises@eafit.edu.co</td>
                  <td>315</td>-->
               </tr>
               
            </tbody>
         </table>
      </div>


      

   </div>
   <div class="card-footer text-muted">
      
   </div>
</div>

<br />
<br />

<div class="card">
   <div class="card-header">
      Información de Productos
   </div>
   <div class="card-body">
      <h4 class="card-title"></h4>
 <!--TABLAS-->

            <table class="INFORMACIÓN DE PRODUCTOS">
               <thead>
                  <tr>
                       
                     <th>Producto ID</th>
                     <th>Trazabilidad</th>
                     <th>Peso</th> 
                     <th>Estado</th>
                     <th>Corte</th>
                     <th>QR</th>
                  </tr>
               </thead>
            
            <tbody>
               <tr>
                  <!--<td>1000756972</td>
                  <td>Ulises</td>
                  <td>correoulises@eafit.edu.co</td>
                  <td>315</td>-->
               </tr>
               
            </tbody>
         </table>
      </div>     

   </div>
   <div class="card-footer text-muted">
      
   </div>
</div>

<br />
<br />


{% endblock %}