{% extends "base.html" %}

{% block title %} Reses {% endblock %}

{% block contenido %}  

<h5><strong>REGISTRO DE PRODUCTOS</strong></h5> 
<table class="table table-bordered table-hover" align="center" border="1" style="width:1000px; height:50px; margin-top:5px;">
    <thead></thead>
    <tbody>
        <tr>
            <td><form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_granja" class="form-label mt-4">ID</label>
                    <input type="text" name="id_granja" id="id_granja" placeholder="ID Granja" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <label for="fecha_nacimiento" class="form-label mt-4">Corte</label>
                    <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="dd/mm/aaaa" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <label for="fecha_muerte" class="form-label mt-4">Estado</label>
                    <input type="date" name="fecha_muerte" id="fecha_muerte" placeholder="dd/mm/aaaa" value="00/00/0000">
                </div>
                <div class="form-group">
                    <label for="peso" class="form-label mt-4">Peso</label>
                    <input type="number" name="peso" id="peso" placeholder="Peso" class="form-control" autofocus>
                </div>
               <!--<div class="form-group">
                    <label for="estado" class="form-label mt-4">Estado</label>
                    <input type="text" name="estado" id="estado" placeholder="Estado" class="form-control" autofocus>
                </div> -->
                <br>
                <input type="submit" value="Guardar Producto" class="btn btn-danger" onclick="alert('Registro exitoso')">
                <input type="reset" value="Cancelar" class="btn btn-danger">
            </form></td>
        </tr>
    </tbody>
</table>

{% endblock %}