{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block contenido %}

<div class = "row">
 


   <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8 ">

      <div class = "container">
         <!-- <h1>Welcome to home page</h1> -->
         <!--<h1>Welcome to home page, <font color="#FF0000">{{name}}</font></h1>
         <h2>This is the full home page</h2> -->
         <form action = "">
            <div class="mb-3">
              <label for="search" class="form-label">
               </label>
              <input type="text" class="form-control" placeholder = "Digite el código de su producto" name="search" >
              <br/>
              <button type="submit" class="btn btn-dark btn-block text-white">Buscar </button>
            </div>
      
            
         </form> 

         <br/>
         
         



      <h3><strong>INFORMACIÓN DE PRODUCTOS</strong></h3>
      <div class = "table-responsive py-2 ">
         <table class = "table table-striped" >
            <caption> Productos...</caption>
            <thead>
               <th>Producto ID</th>
               <th>Corte</th>
               <th>Opciones</th>
            </thead>
            <tbody>
               <ul>
                  {% for p in productos %}
                  <tr>
                  <td>{{p.id}}</td>
                  <td>{{p.parte}}</td>
                  <td><a href = # class= "btn btn-info">Editar</a></td>
                  </tr>
                  {% endfor%}
               </ul> 
            </tbody>
         </table>
      </div>
   </div>

   <div class = "form-group">
      <a href="{% url 'escanear_producto' %}" class="btn btn-dark btn-block text-white"> Inspeccionar producto</a>

   </div>  

   <br/>
   <br/>


   <h3><strong>INFORMACIÓN DE RECES</strong></h3>
      <div class = "table-responsive py-2 ">
         <table class = "table table-striped" >
            <caption> Productos...</caption>
            <thead>
               <th>Res ID</th>
               <th>Proveniencia</th>
               <th>Fecha nacimiento</th>
               <th>Fecha sacrificio</th>
            </thead>
            <tbody>
               <ul>
                  {% for r in reces %}
                  <tr>
                  <td>{{r.id}}</td>
                  <td>{{r.id_granja}}</td>
                  <td>{{r.fecha_nacimiento}}</td>
                  <td>{{r.fecha_muerte}}</td>
                  <td><a href = # class= "btn btn-info">Editar</a></td>
                  </tr>
                  {% endfor%}
               </ul> 
            </tbody>
         </table>
      </div>
   </div>


   <div class = "form-group">
      <a href="{% url 'escanear_producto' %}" class="btn btn-dark btn-block text-white"> Inspeccionar res</a>

   </div>  

   <br/>
   <br/>
   


</div>



   

{% endblock %}