{% extends "base.html" %}

{% block title %} Productos {% endblock %}

{% block contenido %}  

<h5><strong>REGISTRO DE PRODUCTOS</strong></h5> 
<table class="table table-bordered table-hover" align="center" border="1" style="width:1000px; height:50px; margin-top:5px;">
    <thead></thead>
    <tbody>
        <tr>
            <td><form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_res" class="form-label mt-4">ID de la res</label>
                    <input type="text" name="id_res" id="id_res" placeholder="Ingrese el ID de la res" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <label for="corte" class="form-label mt-4">Corte (Parte de la res)</label>
                    <input type="text" name="corte" id="corte" placeholder="Ingrese el corte" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <label for="estado" class="form-label mt-4">Estado</label>
                    <input type="text" name="estado" id="estado" placeholder="Estado del producto" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <label for="peso" class="form-label mt-4">Peso</label>
                    <input type="number" name="peso" id="peso" placeholder="Peso" class="form-control" autofocus>
                </div>
                <br>
                <input type="submit" value="Guardar Producto" class="btn btn-danger" onclick="alert('Registro exitoso')">
                <input type="reset" value="Cancelar" class="btn btn-danger">
            </form></td>
        </tr>
    </tbody>
</table>

{% endblock %}